
@model AuctionInventory.Models.Currency
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    body {
        font-family: Arial;
        font-size: 10pt;
    }

    .error {
        color: red;
    }
</style>


@using (Html.BeginForm("Save", "MCurrency", FormMethod.Post, new { id = "popupForm" }))
{
     @Html.ValidationSummary(true)
    if (Model != null && Model.CurrencyID > 0)
    {
        @Html.HiddenFor(a => a.CurrencyID)
    }
    <div class="form-group col-xs-5">
        <div class="form-group">
            <label>Currency Name</label>
            @Html.TextBoxFor(a => a.strCurrencyName, new { @class = "form-control input-group-lg", @placeholder = "Enter Currency Name" })
            @Html.ValidationMessageFor(m => m.strCurrencyName, "", new { @class = "error" })

        </div>
        <div class="form-group">
            <label>Currency ShortName</label>
            @Html.TextBoxFor(a => a.strCurrencyShortName, new { @class = "form-control input-group-lg", @placeholder = "Enter Currency Short Name" })
            @Html.ValidationMessageFor(m => m.strCurrencyShortName, "", new { @class = "error" })

        </div>
    </div>
  
    
       <div>
        @if (Model.CurrencyID > 0)
        {
            <input type="submit" style="margin-left: -350px; margin-top: 180px;" class="btn btn-warning col-md-1" value="Update">
        }
        else
        {
            <input type="submit" style="margin-left: -350px; margin-top: 180px;" class="btn btn-success col-md-1" value="Save">
        }

        @*<input type="submit" value="Save" />*@

        <input type="button" style="margin-left: -210px; margin-top: 180px;" class="btn btn-warning col-md-1" value="Cancel" onclick="CancelCurrencyInfo();" />

    </div>
}

<script>
    function CancelCurrencyInfo() {
        window.location.href = "/MCurrency/Index";
    }

</script>
