
@model AuctionInventory.Models.Currency
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    body {
        font-family: Arial;
        font-size: 10pt;
    }

    .error {
        color: red;
    }
</style>

<h2>Save</h2>
@using (Html.BeginForm("Save", "MCurrency", FormMethod.Post, new { id = "popupForm" }))
{
    if (Model != null && Model.CurrencyID > 0)
    {
        @Html.HiddenFor(a => a.CurrencyID)
    }
    <div class="form-group">
        <label>Currency Name</label>
        @Html.TextBoxFor(a => a.strCurrencyName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.strCurrencyName, "", new { @class = "error" })

    </div>
    <div class="form-group">
        <label>Currency ShortName</label>
        @Html.TextBoxFor(a => a.strCurrencyShortName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.strCurrencyShortName, "", new { @class = "error" })

    </div>
    
    <div>
        <input type="submit" value="Save" />
    </div>
}


