@model AuctionInventory.Models.Purchase
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<meta name="viewport" content="width=device-width" />
<title>Index</title>
<style>
    span.field-validation-error {
        color: red;
    }
    /*we have overrides the css to change border color of menus*/
    .navbar-inverse {
        background-color: #337ab7;
        border-color: #333;
    }

    #divDetails #divParsedExcel {
        margin-right: 5%;
        margin-left: 5%;
    }
</style>


<div id="boxbody" style="width:90%; margin:0px auto" class="tablecontainer">
    <div class="box-body">
        <div id="divDetails" class="row">
            @Html.HiddenFor(a => a.PurchaseID, new { @id = "PurchaseID" })
            @*<label>Purchase Inv No:PUR-@(@DateTime.Now.Year % 100)-<span id="invno"></span></label>*@
            <br />
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Purchase Inv No: </label>
                    @*<label>Purchase Inv No:PUR-@(@DateTime.Now.Year % 100)-<span id="invno"></span></label>*@
                    @Html.TextBoxFor(a => a.strPurchaseInvoiceNo, new { @class = "form-control", @id = "invno" })

                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label>Purchase Inv Date:</label>
                    @* <input type="datetime" name="name" value="" class="form-control datepicker" placeholder="Enter Drop-off date here..." />*@

                    @Html.TextBoxFor(a => a.strPurchaseInvoiceDate, new { @class = "form-control datepicker", @placeholder = "Enter Drop-off date here..." })
                    @Html.ValidationMessageFor(a => a.strPurchaseInvoiceDate)
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <input type="hidden" id="hfSupplier" />
                    <label>Supplier:</label>
                    @Html.TextBoxFor(a => a.strSupplierName, new { @class = "form-control", @id = "txtSearchSupplier" })
                    @Html.ValidationMessageFor(a => a.strSupplierName)
                </div>
            </div>



            <div class="col-sm-6">
                <div class="form-group">
                    <label>Master Dec No:</label>
                    @Html.TextBoxFor(a => a.strMasterDecNo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(a => a.strMasterDecNo)
                </div>
            </div>


            <div class="col-sm-6">
                <div class="form-group">
                    <label>Bill No:</label>
                    @Html.TextBoxFor(a => a.strBLNo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(a => a.strBLNo)
                </div>
            </div>


            <div class="col-sm-6">
                <div class="form-group">
                    <label>Arrival Date:</label>
                    @*<input type="datetime" name="name" value="" class="form-control  datepicker" placeholder="Enter Drop-off date here..." />*@
                    @Html.TextBoxFor(a => a.strArrivalDate, new { @class = "form-control datepicker", @placeholder = "Enter Drop-off date here..." })
                    @Html.ValidationMessageFor(a => a.strArrivalDate)
                </div>
            </div>


            <div class="col-sm-2">
                <div class="form-group">
                    <label>Conversion Rate:</label>
                    @Html.TextBoxFor(a => a.dmlConversionRate, new { @class = "form-control" })
                    @Html.ValidationMessageFor(a => a.dmlConversionRate)
                </div>

            </div>
        </div>

        <div class="row" id="divParsedExcel" style="display:none">

            <div class="col-sm-6">
                <b>Invoice value JPY </b>: &yen; <span id="spnINVJPY"></span>
                <br />
                <b>Invoice value AED </b>: 	د.إ <span id="spnINVAED"></span>
            </div>
            <br /><br /><br /><br />
            <table id="dataGrid" class="table table-bordered table-striped"></table>
            <div id="pagingGrid"></div>
           
            <br />
            <div class="col-sm-6">

                <div class="row">

                    <div id="dialog" style="display: none" align="center">
                        Do you want to Update this Purchase?
                    </div>
                    <div class="col-sm-2">
                        <input type="submit" class='popup btn btn-info' id="btnSaveJQ" name="Save" value="Update" />
                    </div>
                    @*<div class="col-sm-2">
                            <input type="button" class='popup btn btn-info' id="btnSaveJQ" name="Save" value="Save" />
                        </div>*@
                    <div class="col-sm-3">
                        <input type="button" class='popup btn btn-info' name="Save" value="Stock Revice" />
                    </div>
                    <div class="col-sm-3">
                        <input type="button" class='popup btn btn-info' name="Save" value="Print Invoice" />
                    </div>
                    <div class="col-sm-3">
                        <input type="button" class='popup btn btn-info' name="Save" value="Print Custom Invoice" />
                    </div>
                    <input type="button" style=" margin-left: 535px; margin-top: -33px;" class="btn btn-warning col-md-2" value="Cancel" onclick="Cancel();" id="cancelVehiclesExpenseInfo">

                </div>
            </div>
           
           

        </div>



        @*<table id="dataGrid" class="table table-bordered table-striped"></table>
            <div id="pagingGrid"></div>*@

        @*<div class="row" id="divParsedExcel" style="display:none">

                <div class="col-sm-6">
                    <b>Invoice value JPY </b>: &yen; <span id="spnINVJPY"></span>
                    <br />
                    <b>Invoice value AED </b>: 	د.إ <span id="spnINVAED"></span>
                </div>

                <div class="col-sm-6">

                    <div class="row">
                        <div class="col-sm-2">
                            <input type="submit" class='popup btn btn-info' id="btnSaveJQ" name="Save" value="Save" />
                        </div>

                        <div class="col-sm-3">
                            <input type="button" class='popup btn btn-info' name="Save" value="Stock Revice" />
                        </div>
                        <div class="col-sm-3">
                            <input type="button" class='popup btn btn-info' name="Save" value="Print Invoice" />
                        </div>
                        <div class="col-sm-3">
                            <input type="button" class='popup btn btn-info' name="Save" value="Print Custom Invoice" />
                        </div>
                    </div>
                </div>
                <br />
                <br />



            </div>*@


    </div>
</div>

<!-- /.box-body -->

<script type="text/javascript">

    function Cancel() {
        window.location.href = "/TPurchase/GetPurchaseList";
    }

    $(function () { // will trigger when the document is ready
        $('.datepicker').datepicker(); //Initialise any date pickers
    });
</script>

<script type="text/javascript">
    $(function () {
        $("#txtSearchSupplier").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/TPurchase/AutoComplete/',
                    data: "{ 'prefix': '" + request.term + "'}",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        if (!data.length) {
                            var result = [
                             {
                                 label: 'No matches found',
                                 value: response.term
                             }
                            ];
                            response(result);
                        }
                        else {
                            // normal response
                            response($.map(data, function (item) {
                                return {

                                    label: item.strFirstName,
                                    value: item.strFirstName
                                }
                            }));
                        }
                    }


                    //success: function (data) {
                    //    var items = $.map(data, function (item) {
                    //        return {
                    //            strFirstName: item.strFirstName,
                    //            //strLastName : item.strLastName,
                    //            //strEmailID : item.strEmailID,
                    //            iSupplierID: item.iSupplierID,
                    //            value: item.strFirstName

                    //            //,value: item.strLastName,
                    //            //value: item.strEmailID

                    //        };
                    //    });
                    //    response(items);
                    //}
                });
            },
            select: function (event, i) {

                event.preventDefault();

                $("#txtSearchSupplier").val(i.item.value);
                //$("#txtSearchSupplier").val(i.item.strLastName);
                //$("#txtSearchSupplier").val(i.item.strEmailID);
                $("#hfSupplier").val(i.item.iSupplierID);
                return false;
            },
            minLength: 1
        });
    });
</script>
@*<script type="text/javascript">
        $(function () {
            $("#txtSearchSupplier").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/TPurchase/AutoComplete/',
                        data: "{ 'prefix': '" + request.term + "'}",
                        dataType: "json",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            var items = $.map(data, function (item) {
                                return {
                                    strFirstName: item.strFirstName,
                                    iSupplierID: item.iSupplierID,
                                    value: item.strFirstName

                                };
                            });
                            response(items);
                        }
                    });
                },
                select: function (event, i) {

                    event.preventDefault();
                    $("#txtSearchSupplier").val(i.item.strFirstName);
                    $("#hfSupplier").val(i.item.iSupplierID);

                    return false;
                },
                minLength: 1
            });
        });
    </script>*@


<script>


    $("#btnSaveJQ").click(function () {
        $(function () {
            if ($(this).attr("rel") != "update") {
                $('#dialog').dialog('open');
                return false;
            }
        });

        $("#dialog").dialog({
            modal: true,
            autoOpen: false,
            title: "Confirmation",
            width: 350,
            height: 160,
            buttons: [
        {
            id: "Yes",
            text: "Yes",
            click: function () {

                //calling function here for update
                //debugger;
                //var tes="salman"
                //var alphanumers = /^[a-zA-Z0-9]+$/;
                //if(!alphanumers.test(tes)){
                //    alert("Special chareter found");
                //    $("#textboxid").css({"background-color": "color"});
                //    return false;
                //}


                //var alphanumers = /^[a-zA-Z0-9]+$/;
                //if(!alphanumers.test($("#firstname").val())){
                //    alert("Nickname can have only alphabets and numbers.");
                //    return false;
                //}

                // var test=   $("#someid").val();


                var purchase = {
                    PurchaseID: @Model.PurchaseID,
                    iPurchaseInvoiceNo: $('#invno').val(),
                    strPurchaseInvoiceDate: $('#strPurchaseInvoiceDate').val(),
                    strSupplierName: $('#txtSearchSupplier').val(),
                    strMasterDecNo: $('#strMasterDecNo').val(),
                    strBLNo: $('#strBLNo').val(),
                    strArrivalDate: $('#strArrivalDate').val(),
                    dmlConversionRate: $('#dmlConversionRate').val()
                }
                var griddata = $('#dataGrid').jqGrid('getGridParam', 'data');

                $.ajax({
                    type: "POST",
                    url: "/TPurchase/Save",
                    cache: false,
                    data: JSON.stringify({ purchase: purchase, griddata: griddata }),
                    // data: JSON.stringify(purchase),
                    dataType: this.dataType,
                    contentType: "application/json; charset=utf-8",
                    success: function (Data) {
               
                        window.location.href = "/TPurchase/GetPurchaseList";
                   
                
                        //var $result = $(Data).find(purID);
                        //alert($result);

                        //$('#result').html('"PassGriddata()" successfully called.');




                        //var griddata = $('#dataGrid').jqGrid('getGridParam', 'data');

                        //griddata = JSON.stringify({ 'griddata': griddata });
                        //$.ajax({
                        //    contentType: 'application/json; charset=utf-8',
                        //    dataType: 'json',
                        //    type: 'POST',
                        //    url: '/MVehicle/PassGriddata',
                        //    data: griddata,
                        //    success: function () {
                        //        $('#result').html('"PassGriddata()" successfully called.');
                        //    },
                        //    failure: function (response) {
                        //        $('#result').html(response);
                        //    }
                        //});
                    },
                    error: function (data) {
                        $("#error_message").html(data);
                    }
                });
                $(this).dialog('close');
            }

        },
        {
            id: "No",
            text: "No",
            click: function () {
                $(this).dialog('close');
            }
        }
            ]
        });



    });


    //$("#btnSaveJQ").click(function () {
    //    var griddata = $('#dataGrid').jqGrid('getGridParam', 'data');
    //    griddata = JSON.stringify({ 'griddata': griddata });
    //    $.ajax({
    //        contentType: 'application/json; charset=utf-8',
    //        dataType: 'json',
    //        type: 'POST',
    //        url: '/MVehicle/PassGriddata',
    //        data: griddata,
    //        success: function () {
    //            $('#result').html('"PassGriddata()" successfully called.');
    //        },
    //        failure: function (response) {
    //            $('#result').html(response);
    //        }
    //    });

    //});






</script>


<script type="text/javascript">
    jQuery(document).ready(function () {
        var request =@Model.PurchaseID
        jQuery.ajax({
            url: '/TPurchase/GetData/',
            data: "{ 'id': '" + request + "'}",
            dataType: "json",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function (result) {

                var listVehicle = result.listVehicle

                var sumOfJPY = result.sumOfJPY

                var sumOfAED = result.sumOfAED
                $("#spnINVJPY").text(sumOfJPY);
                $("#spnINVAED").text(sumOfAED);
                $("#divParsedExcel").show();
                bindGrid(listVehicle);


            }
        });


        //$("#GetRow").click(function(){
        //    var gridData = jQuery("#dataGrid").getRowData();
        //    var postData = JSON.stringify(gridData);
        //    alert("JSON serialized jqGrid data:\n" + postData);
        //    $.ajax({
        //        type: "POST",
        //        url: "/TPurchase/Save",
        //        data : {
        //            jgGridData: postData,
        //            customData: "bla bla"
        //        },
        //        dataType:"json",
        //        contentType: "application/json; charset=utf-8",
        //        success: function(response, textStatus, xhr) {
        //            alert("success");
        //        },
        //        error: function(xhr, textStatus, errorThrown) {
        //            alert("error");
        //        }
        //    });
        //});


        function bindGrid(listVehicle) {


            var lastsel;
            $('#dataGrid').jqGrid({
                //// Comment and uncomment below lines for ajax and local data
                //    caption: "Invoice Discription",
                //    url: '/MVehicle/GetData/',
                //    datatype: "json",
                //    contentType: "application/json; charset-utf-8",
                //    mtype: 'GET',

                // caption: "Invoice Discription",
                data: listVehicle,
                datatype: "local",
                // colNames: ['Action', 'Lot No', 'Chasis No', 'Model', 'Year', 'Color', 'JPY', 'Assessed Value', 'AED'],
                colNames: ['ID','Lot No', 'Chasis No','Make', 'Model','Category', 'Year', 'Color','Origin','Location', 'CustomAssessed Value','Duty', 'JPY'],
                colModel: [
                    { name: 'iVehicleID', index: 'iVehicleID',hidden: true, editable: true, editrules: { edithidden: false }, hidedlg: true },
                    { name: 'iLotNum', index: 'iLotNum', editable: true },
                    { name: 'strChassisNum', index: 'strChassisNum', editable: true },
                    { name: 'strMake', index: 'strMake', editable: true },
                    { name: 'iModel', index: 'iModel', editable: true },
                    { name: 'strCategory', index: 'strCategory', editable: true },
                    { name: 'iYear', index: 'iYear', editable: true },
                    { name: 'strColor', index: 'strColor', editable: true },
                    { name: 'strOrigin', index: 'strOrigin', editable: true },
                    { name: 'strLocation', index: 'strLocation', editable: true },
                    { name: 'iCustomAssesVal', index: 'iCustomAssesVal', editable: true },
                    { name: 'iDuty', index: 'iDuty', editable: true },
                    { name: 'iCustomValInJPY', index: 'iCustomValInJPY', editable: true }

                    //,{ name: 'act', index: 'act', width: 350 }

                    //{
                    //    name: 'Action', index: 'Action', align: 'center', width: 200, search: false, title: false,
                    //    formatter: function (cellvalue, options, rowObject) {
                    //        return '<a class="popup btn btn-info" href="/MVehicle/Save/' + options.rowId + '">' + "Edit" + '</a>' + "     " + '<a class="popup btn btn-info" href="/MVehicle/Delete/' + options.rowId + '">' + "Delete" + '</a>';

                    //    }
                    //},

                ],
                width: 1050,
                height: 250,
                rowNum: 10,
                //loadonce: true,
                rowList: [10, 20, 30],
                pager: 'pagingGrid',
                editurl: '/MVehicle/Save/',
                //editurl: 'TemplateCategoryWebView.jsp',
                //caption: 'Select Invoice to edit',
                //cellEdit: true,
                cellsubmit: 'clientArray',
                onSelectRow: function (id) {
                               
                    if (id !== lastsel) {


                        jQuery('#dataGrid').jqGrid('saveRow', lastsel);

                        lastsel = id;

                    }
                    jQuery('#dataGrid').jqGrid('editRow', id, true);
                    return true;

                },
                //gridComplete: function () {

                //    var ids = jQuery("#dataGrid").jqGrid('getDataIDs');

                //    for (var i = 0; i < ids.length; i++) {
                //        var cl = ids[i];
                //       // be = "<input class='popup btn btn-info' style='margin-right: 5%; margin-left: 8%;' type='button' value='Edit' onclick=\"jQuery('#dataGrid').editRow('" + cl + "');\"  />";
                //        se = "<input class='popup btn btn-info' style='margin-right: 5%; ' type='button' value='Save' onclick=\"SaveRow('" + cl + "');\"  />";

                //        //se = "<input class='popup btn btn-info' style='margin-right: 5%; ' type='button' value='Save' onclick=\"jQuery('#dataGrid').GetRow('" + cl + "');\"  />";
                //        //se="<input type='button' id='GetRow'>"
                //        //ce = "<input class='popup btn btn-info' style='margin-right: 5%; ' type='button' value='Cancel' onclick=\"jQuery('#dataGrid').restoreRow('" + cl + "');\" />";
                //        jQuery("#dataGrid").jqGrid('setRowData', ids[i], { act:se});
                //    }
                //},

            });
            jQuery("#dataGrid").jqGrid('filterToolbar', { stringResult: true, searchOnEnter: false, defaultSearch: "cn" });
            jQuery("#dataGrid").jqGrid('navGrid', '#pagingGrid', { edit: false, add: false, del: false, search: false, rel: false });



            //jQuery('#dataGrid').jqGrid({
            //    url: '/MVehicle/GetData/',
            //    data: listVehicle,
            //    datatype: "local",
            //    colNames: ['Lot No','Chasis No','Model','Year','Color','JPY','Assessed Value','AED','Action'],
            //    colModel: [
            //    { name:'iLotNum',index:'iLotNum',editable:true },
            //    { name:'strChassisNum',index:'strChassisNum',editable:true },
            //    { name:'iModel',index:'iModel',editable:true },
            //    { name:'iYear',index:'iYear',editable:true },
            //    { name:'iColor',index:'iColor',editable:true },
            //    { name:'iCustomValInJPY',index:'iCustomValInJPY',editable:true },
            //    { name:'iCustomAssesVal',index:'iCustomAssesVal',editable:true },
            //    { name:'AED',index:'AED',editable:true },
            //    { name:'act',index:'act',width:350 }

            //    //{
            //    //    name: 'Action', index: 'Action', align: 'center', width: 200, search: false, title: false,
            //    //    formatter: function (cellvalue, options, rowObject) {
            //    //        return '<a class="popup btn btn-info" href="/MVehicle/Save/' + options.rowId + '">' + "Edit" + '</a>' + "     " + '<a class="popup btn btn-info" href="/MVehicle/Delete/' + options.rowId + '">' + "Delete" + '</a>';

            //    //    }
            //    //},

            //    ],
            //    width: 1050,
            //    height: 250,
            //    rowNum: 10,
            //    //loadonce: true,
            //    rowList: [10, 20, 30],
            //    pager: 'pagingGrid',
            //    caption: 'Select Invoice to edit',
            //    //cellEdit: true,
            //    cellsubmit: 'clientArray',
            //    jsonReader: {
            //        repeatitems: false,
            //        //page: function () { return 1; },
            //        root: function (obj) { return obj; },
            //        //records: function (obj) { return obj.length; }
            //    },
            //    gridComplete: function () {

            //        var ids = jQuery("#dataGrid").jqGrid('getDataIDs');

            //        for (var i = 0; i < ids.length; i++) {
            //            var cl = ids[i];
            //            be = "<input class='popup btn btn-info' style='margin-right: 5%; margin-left: 8%;' type='button' value='Edit' onclick=\"jQuery('#dataGrid').editRow('" + cl + "');\" />";
            //            se = "<input class='popup btn btn-info' style='margin-right: 5%; ' type='button' value='Save' onclick=\"jQuery('#dataGrid').saveRow('" + cl + "');\" />";
            //            ce = "<input class='popup btn btn-info' style='margin-right: 5%; ' type='button' value='Cancel' onclick=\"jQuery('#dataGrid').restoreRow('" + cl + "');\" />";
            //            jQuery("#dataGrid").jqGrid('setRowData', ids[i], { act: be + se + ce });
            //        }
            //    }
            //});

            //jQuery("#dataGrid").jqGrid('filterToolbar', { stringResult: true, searchOnEnter: false, defaultSearch: "cn" });
            //jQuery("#dataGrid").jqGrid('navGrid', '#pagingGrid', { edit: false, add: false, del: false, search: false, rel: false });
        }
    });

    function SaveRow(id) {
        debugger;
        var griddata = $('#dataGrid').jqGrid('getGridParam', 'data');
        //var vehicles = jQuery('#dataGrid').jqGrid ('getRowData', id);      
        //var griddata = jQuery("#dataGrid").getRowData(); 
        //var ID=id-1;
        //var vehicle= griddata;
        var vehicle=  griddata[id-1];
       
        
         ////Now goes ur ajax
        //$.ajax({
        //    url: '/MVehicle/Save/',
        //    data: JSON.stringify({ vehicle:vehicle  }),
        //    //data: {vehicle:vehicle },
        //    type: "post",
        //    cache: false,
        //    success: function (Status) {
        //        alert("Update Data Successfully!!!!");
        //    },
        //    error: function (xhr, ajaxOptions, thrownError) {
        //        alert("Not able to Update Data !!!!");
        //    }
        //});
        $.ajax({
            type: "POST",
            url: '/MVehicle/Save/',
            cache: false,
            data: JSON.stringify({vehicle: vehicle }),           
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (Data) {
                //window.location.href = "/TPurchase/Index";

                if (Data.status) {

                    alert("Data Saved");
                }
                
            },
            error: function (data) {
                alert("Not able to Update Data !!!!");
            }
        });

    }
</script>


<!-- JqGrid Scripts -->
<link href="~/scripts/jquery-ui-1.9.2.custom.css" rel="stylesheet" />
<link href="~/scripts/ui.jqgrid.css" rel="stylesheet" />
<script src="~/Scripts/jQuery-migrate-1.2.1-min.js"></script>
<script src="~/scripts/jQuery-migrate-1.2.1.js"></script>
<script src="~/scripts/grid.locale-en.js"></script>
<script src="~/scripts/jquery.jqgrid.min.js"></script>